---
faq:
  - question: What is Roburst Network?
    answer: Roburst Network is a collection of services that based on Roburst Coin as the main payment service, provided by Roburst Network Team. Roburst Coin is powered by an enhanced version of the DPOS consensus algorithm, called intelligent Delegated Proof-of-Stake Consensus algorithm. For more information, please refer to [our whitepaper](https://roburst.network/downloads/whitepaper.pdf).
  - question: When will Roburst Coin distribute?
    answer: Our plan is written in [the whitepaper](https://roburst.network/downloads/whitepaper.pdf), the coin distribution will happen 7 days after the ICO stage ends in the worst case, which is on May 1st, 2018.
  - question: What is the technical limitation of Roburst Coin supply in the market?
    answer: Technically, there is no limit on the number of coin supply, but there will be an decrease on forgin reward which will lead to decrease in inflation rate. Read [the whitepaper](https://roburst.network/downloads/whitepaper.pdf) for more information.
  - question: When will the Roburst Trading Bot roll out?
    answer: Our plan is to make it roll out in May 2018, but we will try to deploy it as soon as we can.
  - question: Why don't I receive referral bonus?
    answer: In order to prevent multiple account creation to earn referral bonus, Roburst Network requires that the person you refer must deposit at least 0.00001 BTC or equivalent to the wallet.
  - question: How fast is Roburst Network?
    answer: Roburst Network is as fast as any centralized system. Our system is capable of doing over 100,000 transactions per second if we scale enough.
  - question: Where can I find documentation about integrating Roburst Network in our exisitng system?
    answer: Those documentation will be available shortly after our main net launches. Meanwhile, you can subscribe for [our Github](https://github.com/roburstnetwork) to get notified when it's ready.
  - question: I want to join the Roburst Community Campaign, where can I apply for it?
    answer: You can join our bounty hunter program, which is currently available on Bitcointalk or send us an email to: <community@roburst.network>.
  - question: What is the differences between Roburst Network consensus algorithm and the original DPOS algorithm?
    answer: Improvements have been made to Voting Delegate round, Forging system, P2P protocol,...
  - question: I don't receive any confirmation email for my account, what can I do?
    answer: You can refer to [this post](https://support.roburst.network/account/resend-activation-email/)
  - question: I have been rejected to get into the whitelist, what can I do?
    answer: You can re-apply for the whitelist, note that you must submit your real official documentation and your selfie must be taken with the clearance view of your face.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
